Django==6.0
djangorestframework==3.14.0
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
strawberry-graphql==0.287.3
strawberry-graphql-django==0.70.1
PyJWT==2.8.0  # Para tokens JWT
python-dateutil==2.9.0